/* This file has general styling for the app -> fonts and colours+ */

:root {
  --primary-color: #4bb36a;
  --secondary-color: rgb(194, 243, 207);
  --tertiary-color: #fff;

  --default-font: 'Nunito';
  --default-font-color: #000000;

}

body {
  font-family: var(--default-font);
  color: var(--default-font-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
